#project-card {
    height: 260px;
}

#project-card .card-header {
    background-color: #FFFFFF;
    border-radius: 10px !important;
    border: none;
}

#project-card .card-body {
    padding-top: 0;
}

#project-card .card-footer {
    padding-top: 0;
    background-color: #FFFFFF;
    border-radius: 10px !important;
    border: none;
}
