#work-exp-card {
    color: #212529 !important;
}

#work-exp-card .card-header{
    background-color: transparent !important;
    border-color: transparent !important;
}

#work-exp-card .card-title{
    font-size: 1.5rem;
}
