body {
    background-color: #264653 !important;
}

.nav {
    background-color: #264653 !important;
}

.card {
    border-radius: 10px !important;
}

.badge {
    background-color: #2a9d8f !important;
}

.btn-block {
    /*background-color: #8F2A9D !important;*/
    /*border-color: #8F2A9D !important;*/
    /*color:  #FFFFFF !important;*/
}

#tech-slider {
    background-color: #E9C46A;
    color: #FFFFFF;
}

#tech-slider .card {
    background-color: transparent !important;
    border-color: transparent !important;
}

#tech-slider .card .card {
    background-color: #FFF !important;
    color: #212529 !important;
}

#work-exp {
    background-color: #F4A261;
    color: #FFFFFF;
}

#project-slider .card {
    background-color: #EE8959;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

/* SLick carousel dot colour */
.slick-dots li button:before {
    color: #FFFFFF !important;
}